#content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 0px 200px 160px 200px;
}
#whole_container {
    width: 100%;
    height: 100vh;
}

button {
    width: 200px;
    height: 100px;
}

#search_first a {
    font-weight: 600;
}
.main_title{
    display: flex;
    /* padding: 50px 0px 50px 0px; */
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#min{
    height:3500px;
    /* position:relative; */
    /* overflow: hidden; */

}
/* product */
#product{
    display: inline-block;
    margin-top: 50px;
    background: white;
    width: 100%;
}
#product2{
    display: flex;
    margin-top: 50px;
}
#product3{
    display: flex;
    margin-top: 50px;
}
.product{
    margin-bottom: 10px;
}
.products{
    display:inline-block;
    width: 253px;
    height: 381px;
    pading: 0px 5px;
}
.product_title{
    width: 100%;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    color:#333;

}
.product_sel_price{
    font-size: 16px;
    font-weight: bold;
    color:#333;

}
.product_price{
    padding: 2px 0px 0px;
    font-size: 16px;
    color:#B5B5B5;
    font-weight: 500;
    text-decoration: line-through;
}
.product_sub_title{
    font-size: 10px;
    margin-top: 10px;
}
.product_ds_rate{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin: 0px 7px 0px 0px;
}
#product_name{
    font-size: 30px;
    font-weight: 700;
    background: white;
}
p{
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    color:gray;
}
a{
    font-size: 17px;
    font-weight: bold;
    /*color: rgb(95, 0, 128);*/
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.paging {
    margin-top: 1200px;
}

.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}

.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}

.paging-container {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 50px;
    margin: auto;
}

#img {
    width: 249px;
    height: 320px;
}

.search-option > option {
    text-align: center;
}

.search-form {
    height: 37px;
    display: flex;
}

.search-option {
    outline: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: gray;
}



