.title {
    padding-left: 50px;
    text-align: left;
    border: 1px solid #f4f4f4;
}
.title_cn{
    cursor:pointer;
}
.no, .grade, .writer, .reg_date, .like_cnt{
    text-align: center;
}
#review_view {
    display: none;
    padding: 10px 10px 11px;
    border-top: 1px solid #e3e3e3;
}

th{
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(244, 244, 244, 0.18);
}

td{
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(244, 244, 244, 0.18);
}

.border_write_btn{
    padding-top: 18px;
}
.p_write_btn{
    background-color: #4E7A51;
    border: 1px solid #4E7A51;
    float:right;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height:30px;
    width:130px;
    cursor:pointer;
}
#review_view #buttons p{
    float:right;
    height:34px;
    padding: 0 13px 0 12px;
    font-size: 12px;
    color: #4E7A51;
    line-height: 32px;
    text-align: center;
    border: 1px solid #4E7A51;
    margin-left: 28px;
    cursor:pointer;
}
#review_view .review_content {
    width: 100%;
    word-break: break-word;
    padding: 20px 9px 30px;
    line-height: 25px
}
.ph{text-align: center;}

.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}
.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
    text-decoration: none;
}
/*modal css start*/
.modal {
    display: none;
    width: 99%;
    height: 99%;
    position: absolute;
    left: -5px;
    top: -5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(235, 231, 231);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.modal-dialog {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(174, 144, 186, 0.322);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 800px;
    height: 420px;
    position: relative;
    top: -100px;
    padding: 30px;

}
.modal-content {
    border-top: 1px solid #4E7A51;
    border-bottom: 1px solid #4E7A51;

}
#modal-title {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 10px 20px;
    color: #333333;

}
.btn-cancel{
    cursor:pointer;
}
.btn-write{
    cursor:pointer;
}
.btn-modify{
    cursor:pointer;
}
.table td {
    padding: 10px 0 10px 20px;
    border-top: 1px solid #dddfe1;
    vertical-align: middle;
}
.form-control1 {
    width: 100%;
    height: 34px;
    font-size: 12px;
    border: 0;
    color: #000;
    line-height: 18px;
    outline: none;
}
.field_cmt {
    padding: 8px 10px 9px;
    border: 1px solid #dddfe1;
}
.form-control2 {
    overflow: hidden;
    width: 100%;
    min-height: 100px;
    border: 0;
    resize: none;
    font-size: 12px;
    color: #000;
    line-height: 18px;
    outline: none;
}
.modal-footer {
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-footer p {
    float: right;
    height: 34px;
    padding: 0 13px 0 12px;
    font-size: 12px;
    color: #4E7A51;
    line-height: 32px;
    text-align: center;
    border: 1px solid #4E7A51;
    margin-top: 10px;
    margin-left: 28px;
}
/*modal css end*/