<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
                <typeAlias alias="BoardDto" type="com.devkurly.board.domain.BoardDto"/>
                <typeAlias alias="CommentDto" type="com.devkurly.board.domain.CommentDto"/>
                <typeAlias alias="EventDto" type="com.devkurly.event.domain.EventDto" />
                <typeAlias alias="EventIdDto" type="com.devkurly.event.domain.EventIdDto" />
                <typeAlias alias="Cart" type="com.devkurly.cart.domain.Cart"/>
                <typeAlias alias="Order" type="com.devkurly.order.domain.Order"/>
                <typeAlias alias="OrderProduct" type="com.devkurly.order.domain.OrderProduct"/>
                <typeAlias alias="Payment" type="com.devkurly.payment.domain.Payment"/>
                <typeAlias alias="ProductDetailDto" type="com.devkurly.productDetail.domain.ProductDetailDto" />
                <typeAlias alias="ProductDetail" type="com.devkurly.productDetail.domain.ProductDetailDto" />
                <typeAlias alias="Product" type="com.devkurly.product.domain.ProductDto"/>
                <typeAlias alias="CouponDto" type="com.devkurly.coupon.domain.CouponDto"/>
                <typeAlias alias="UserDto" type="com.devkurly.admin.domain.UserDto"/>
                <typeAlias alias="Member" type="com.devkurly.member.domain.Member"/>
                <typeAlias alias="UserCouponDto" type="com.devkurly.coupon.domain.UserCouponDto" />
                <typeAlias alias="SearchCondition" type="com.devkurly.product.domain.SearchCondition"/>
                <typeAlias alias="UserSearchCondition" type="com.devkurly.admin.domain.UserSearchCondition"/>
<!--                <typeAlias alias="SearchCondition" type="com.devkurly.admin.domain.SearchCondition"/>-->
                <!--                <typeAlias alias="Address" type="com.devkurly.address.domain.AddressDto" />-->
        </typeAliases>
</configuration>