footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-top: 1px solid #F7F7F7;
}

footer img {
    width: 100px;
    margin-right: 30px;
}

.mem_row {
    display: flex;
    align-items: center;
}

.mem_row img {
    width: 30px;
    margin-right: 10px;
}

.mem_row {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

#member_container {
    text-decoration: none;
}