#navigation {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: 140px;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    /* border: 1px solid red; */
    padding-bottom: 20px;
}

#signup_signin {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 190px;
}

#signup_signin_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#signup_signin a,div {
    font-size: 12px;
    margin-right: 8px;
}

#signup {
    color: #5f0080
}

#signup_signin div {
    width: 0px;
    border: 1px solid #d9d9d9;
}

/* nav 두 번째 div */
#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#search_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}

#search_first > * {
    margin-right: 8px;
}

#search_first a {
    font-size: 18px;
    color:  #5f0080;
}

#search_first div {
    width: 0px;
    border: 1px solid #d9d9d9;
}

#input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-right: 80px;
}

#input_container input, input:focus {
    border: none;
    font-size: 16px;
    margin-left: 10px;
    outline:none;
    width: 80%;
}

#input_container img {
    margin-right: 14px;
}

#icon_container {
    display: flex;
    justify-content: space-between;
    width: 148px;
    align-items: center;
    padding-right: 200px;
}

#icon_container img {
    width: 26px;
}

#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200 0 200;
    margin-top: 28px;
    margin-bottom: 28px;
}

#menubar > * {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

#category_container span {
    white-space: nowrap;
}

#menus {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 0 200 0 200;
}

#deli_info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666666;
    width: 121px;
    height: 16px;
    padding: 6 12;
    font-size: 13px;
    line-height: 16px;
    border-radius: 18px;
    white-space: nowrap;
}

#purple_deli_info {
    color:#5f0080;
    margin-right: 4px;
    font-weight: 600;
}