<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkurly.mapper.ProductDetailMapper">

    <insert id="insert" parameterType="ProductDetail" >
        INSERT INTO PRODUCT_DETAIL_TB
        VALUES ( #{det_id}, #{pdt_id}, #{pack_cd}, #{sell_cd}, #{weca_cd}, #{allg_dt}, #{ex_dt},
             #{origin}, #{notice}, #{prt_info}, #{prt_image}, #{company}, #{de_type} );
    </insert>

    <!-- 최소 정보 -->
    <insert id="minInsert" parameterType="ProductDetail">
        INSERT iNTO PRODUCT_DETAIL_TB
        VALUES ( #{det_id}, #{pdt_id}, #{pack_id}, #{sell_cd}, #{weca_cd}, #{prt_info}, #{de_type} );
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM PRODUCT_DETAIL_TB
        WHERE #{det_id} = #{det_id} AND #{pdt_id} = #{pdt_id};
    </delete>

    <delete id="deleteAll" >
        DELETE FROM PRODUCT_DETAIL_TB;
    </delete>

    <update id="update" parameterType="ProductDetail">
        UPDATE PRODUCT_DETAIL_TB
        SET allg_dt = #{allg_dt},
            ex_dt = #{ex_dt},
            origin = #{origin},
            notice = #{notice},
            prt_info = #{prt_info},
            company = #{company},
            de_type = #{de_type}
        WHERE det_id = #{det_id} AND pdt_id = #{pdt_id}
    </update>

    <select id="select" parameterType="int" resultType="ProductDetail">
        SELECT (det_id, pdt_id, pack_cd, sell_cd, weca_cd, prt_info, de_type )
        FROM PRODUCT_DETAIL_TB
        WHERE det_id = #{det_id}
    </select>

    <select id="selectAll"  resultType="ProductDetail">
        SELECT *
        FROM PRODUCT_DETAIL_TB
    </select>

</mapper>