#content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 0 0 160px 0;
}
.main_title{
    display: block;
    padding: 50px 0 50px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    height: auto;
}

#min{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 100px;
}

#count{
    display: inline-block;
    margin-right: 750px;
}
#list{
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

/* product */
#product {
    display: flex;
    margin-bottom: 100px;
    /* margin-top: 100px; */
    width: 1200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product{
    margin-bottom: 10px;
}
.products {
    display: inline-block;
    width: 350px;
    /* height: 600px; */
    /* margin-top: 50px; */
    margin-left: 10px;
}
.product_title{
    overflow: hidden;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: #333;

}
.product_sel_price{
    font-size: 16px;
    font-weight: bold;
    color:#333;

}
.product_price{
    display: flex;
    margin-top: 5px;
    padding: 2px 0px 0px;
    font-size: 16px;
    color: #B5B5B5;
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: line-through;
}
.product_sub_title{
    font-size: 10px;
    margin-top: 10px;
}
.product_ds_rate{
    font-size: 16px;
    color:red;
    font-weight: bold;
    margin: 0px 7px 0px 0px;
}
#product_name{
    font-size: 30px;
    font-weight: 700;
    background: white;
}
#content p{
    font-size: 10px;
    font-weight: 700;
    margin-top: 15px;
    color:gray;
}
#img{
    width: 337px;
    height: 435px;
    margin-top: 10px;
}
.de_type{
    font-size: 16px;
    color: rgb(153, 153, 153);
    line-height: 19px;
    letter-spacing: -0.5px;
}
#text{
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 19px;
    letter-spacing: -0.5px;
}


#whole_container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#search_first a {
    font-weight: 600;
}

a:visited {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #5F0080;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    background: white;
    color: white;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
}


.search-container {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    height: 37px;
    display: flex;
}

.search-option {
    outline: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: gray;
}

.search-option > option {
    text-align: center;
}

.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    background-color: rgb(22, 22, 22);
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.search-button:hover {
    color: rgb(165, 165, 165);
}
#page_title{
    font-weight: bold;
    font-size: 30px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}
.name{
    display: flex;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.product_tag{
    border-radius: 4px;
    background-color: rgb(244, 244, 244);
    font-weight: 500;
    color: #6CA437;
    line-height: 26px;
    font-size: 15px;
}

.SortBtn{
    margin-left: 10px;
    font-size: 15px;
    color: gray;
}
#sortList{
    display: flex;
    width: 1080px;
    margin-right: 160px;
    align-content: space-around;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.page{
    color:black;
}
.page paging-active{
    color:black;
}






