#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 200 160 200;
}

h2 {
    display: block;
    padding: 50 0 50 0;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

#product_list {
    width: 650px;
    /* border: 1px solid red; */
}


.select_or_delete {
    /* border: 1px solid #129090; */
    display: flex;
    align-items: center;
    width: 100%;
}

.select_or_delete span {
    font-size: 14px;
}

.select_or_delete img {
    margin: 0px 10px 0px 0px;
}

.select_contour {
    width: 1px;
    height: 14px;
    background-color: #ddd;
    margin: 0px 21px 0px 22px;
    vertical-align: top;
}

.product_type {
    margin-top: 10px;
    padding: 14px 0px 14px 0px;
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    border-top: 1px solid rgb(51, 51, 51)
    /* border:1px solid black; */
}

.product {
    display: flex;
    align-items: center;
    margin: 4px 0px 14px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #F4F4F4;
}

.product:last-child {
    border-bottom: none;
}

.product h4 {
    width: 345px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.product img {
    margin: 0px 10px 0px 0px;
}

.product_img {
    width: 60px;
    height: 78px;
}

.quantity_control_box {
    display: flex;
    border: 1px solid rgb(221, 223, 225);
    /* margin-right: 50px; */
}

.quantity_control_box div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0;
    /* border: 1px solid salmon; */
}

.product button {
    width: 27px;
    height: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product p {
    display: flex;
    justify-content: flex-end;
    width: 90px;
    font-weight: 700;
    font-size: 16px;
}

#shipping_payment {
    width: 100%;
    border: 1px solid #f4f4f4;
}

#shipping {
    width: 100%;
    padding: 20px;
}

#shipping h4, p {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

#is_star_deli {
    color: purple;
}

#shipping button {
    width: 250px;
    height: 36px;
    background-color: transparent;
    border: 1px solid purple;
    border-radius: 5px;
    color: purple;
    font-weight: 500;
    cursor: pointer;
}

#payment_box {
    width: 284px;
    height: 198px;
    background-color: #FAFAFA;
}

.payment_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.total {
    border-top: 1px solid #f4f4f4;
    padding-top: 20px;
}

#order_submit {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    background-color: #5F0080;
    color: white;
}