<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkurly.mapper.CartMapper">
    <insert id="insert" parameterType="Cart">
        insert into CART_TB(user_id, pdt_id, pdt_qty)
        values (#{user_id}, #{pdt_id}, #{pdt_qty});
    </insert>
    <select id="findAllById" parameterType="int" resultType="Cart">
        select user_id, pdt_id, pdt_qty
        from CART_TB
        where user_id = #{user_id};
    </select>
    <select id="joinCartProduct" parameterType="int" resultType="com.devkurly.cart.dto.CartResponseDto">
        select user_id, CT.pdt_id, pdt_qty, image, sel_price, title, stock
        from CART_TB CT
        join PRODUCT_TB PT
        on CT.pdt_id = PT.pdt_id
        where user_id = #{user_id};
    </select>
    <update id="updateAdd" parameterType="int">
        update CART_TB
        set pdt_qty = pdt_qty + 1
        where user_id = #{user_id}
        and pdt_id = #{pdt_id};
    </update>
    <update id="updateRemove" parameterType="int">
        update CART_TB
        set pdt_qty = pdt_qty - 1
        where user_id = #{user_id}
          and pdt_id = #{pdt_id};
    </update>
    <delete id="delete" parameterType="int">
        delete
        from CART_TB
        where user_id = #{user_id};
    </delete>
    <delete id="deleteOne" parameterType="int">
        delete
        from CART_TB
        where user_id = #{user_id}
        and pdt_id = #{pdt_id};
    </delete>
</mapper>