<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkurly.mapper.CartMapper">
    <insert id="save" parameterType="Cart">
        insert into CART_TB(user_id, pdt_id, pdt_qty)
        values (#{user_id}, #{pdt_id}, #{pdt_qty});
    </insert>
    <select id="findByCart" parameterType="Cart" resultType="Cart">
        select user_id, pdt_id, pdt_qty
        from CART_TB
        where user_id = #{user_id}
        and pdt_id = #{pdt_id};
    </select>
    <select id="findAllByUserId" parameterType="int" resultType="Cart">
        select user_id, pdt_id, pdt_qty
        from CART_TB
        where user_id = #{user_id};
    </select>
    <select id="findCheckedByCart" parameterType="Cart" resultType="Cart">
        select user_id, pdt_id, pdt_qty
        from CART_TB
        where user_id = #{user_id}
        and pdt_id = #{pdt_id};
    </select>
    <select id="findProductByPdtId" parameterType="int" resultType="Product">
        select stock
        from PRODUCT_TB
        where pdt_id = #{pdt_id};
    </select>
    <select id="joinCartProductByUserId" parameterType="int" resultType="com.devkurly.cart.dto.CartProductResponseDto">
        select user_id, CT.pdt_id, pdt_qty, image, sel_price, title, stock, company
        from CART_TB CT
        join PRODUCT_TB PT
        on CT.pdt_id = PT.pdt_id
        where user_id = #{user_id}
        order by CT.in_date DESC;
    </select>
    <select id="joinCartProductByCart" parameterType="Cart" resultType="com.devkurly.cart.dto.CartProductResponseDto">
        select user_id, CT.pdt_id, pdt_qty, image, sel_price, title, stock, company
        from CART_TB CT
        join PRODUCT_TB PT
        on CT.pdt_id = PT.pdt_id
        where user_id = #{user_id}
        and CT.pdt_id = #{pdt_id}
        order by CT.in_date DESC;
    </select>
    <update id="update" parameterType="Cart">
        update CART_TB
        set pdt_qty = #{pdt_qty}
        where user_id = #{user_id}
          and pdt_id = #{pdt_id};
    </update>
    <delete id="delete" parameterType="int">
        delete
        from CART_TB
        where user_id = #{user_id};
    </delete>
    <delete id="deleteOne" parameterType="Cart">
        delete
        from CART_TB
        where user_id = #{user_id}
        and pdt_id = #{pdt_id};
    </delete>
</mapper>