<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkurly.mapper.PaymentMapper">
    <insert id="insert" parameterType="Payment">
        insert into PAYMENT_TB(ord_id, user_id, setl_cd, setl_stus_cd, all_amt, all_dc_amt, dlvr_amt)
        values (#{ord_id}, #{user_id}, #{setl_cd}, #{setl_stus_cd}, #{all_amt}, #{all_dc_amt}, #{dlvr_amt});
    </insert>
    <select id="select" parameterType="Int" resultType="Payment">
        select *
        from PAYMENT_TB
        where ord_id = #{ord_id};
    </select>
    <update id="update" parameterType="Payment">
        update PAYMENT_TB
        set setl_cd = #{setl_cd},
            setl_stus_cd = #{setl_stus_cd},
            all_amt = #{all_amt},
            all_dc_amt = #{all_dc_amt},
            dlvr_amt = #{dlvr_amt}
        where user_id = #{user_id};
    </update>
    <delete id="delete" parameterType="Integer">
        delete
        from PAYMENT_TB
        where user_id = #{user_id}
          and ord_id = #{ord_id};
    </delete>
</mapper>