<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkurly.product.dao.ProductMapper">


<!--    <select id="count" resultType="int">-->
<!--        SELECT count(*) FROM PRODUCT_TB P-->
<!--                 JOIN PRODUCT_TAG_TB T-->
<!--        ON T.pdt_id = P.pdt_id-->
<!--            JOIN TAG_TB TG-->
<!--            ON TG.tag_id = T.tag_id-->
<!--            JOIN CATEGORY_TB C-->
<!--            ON C.pdt_id = P.pdt_id-->
<!--    </select>-->


    <delete id="deleteAll">
        DELETE FROM PRODUCT_TB
    </delete>


    <delete id="delete" parameterType="map">
        DELETE FROM PRODUCT_TB WHERE pdt_id = #{pdt_id}
    </delete>

    <insert id="create" parameterType="Product">
        INSERT INTO PRODUCT_TB
        (pdt_id, title, ds_rate, sel_price, price, sub_title,company,de_type)
        VALUES
            (#{pdt_id},#{price},#{ds_rate},#{sel_price}, #{title}, #{sub_title},#{company},#{de_type})
    </insert>

    <select id="ProductNewList" parameterType="SearchCondition" resultType="Product">
        SELECT  P.pdt_id, TG.tag_name, P.title, P.sub_title,
                P.ds_rate, P.price,P.sel_price,P.sales_rate,
                P.de_type,P.company,P.stock,C.cat_code,C.cd_name
        FROM PRODUCT_TB P
                 JOIN PRODUCT_TAG_TB T
                      ON T.pdt_id = P.pdt_id
                 JOIN TAG_TB TG
                      ON TG.tag_id = T.tag_id
                 JOIN CATEGORY_TB C
                      ON C.pdt_id = P.pdt_id
        WHERE TRUE
          AND title LIKE concat('%', #{keyword}, '%')
        ORDER BY in_date DESC
        limit #{offset}, #{pageSize}
    </select>


    <select id="ProductThriftyList" parameterType="SearchCondition" resultType="Product">
        SELECT  P.pdt_id, TG.tag_name, P.title, P.sub_title,
                P.ds_rate, P.price,P.sel_price,P.sales_rate,
                P.de_type,P.company,P.stock,C.cat_code,C.cd_name
        FROM PRODUCT_TB P
                 JOIN PRODUCT_TAG_TB T
                      ON T.pdt_id = P.pdt_id
                 JOIN TAG_TB TG
                      ON TG.tag_id = T.tag_id
                 JOIN CATEGORY_TB C
                      ON C.pdt_id = P.pdt_id
        WHERE TRUE
        <include refid="searchCondition"/>
        ORDER BY P.price ASC
        limit #{offset}, #{pageSize}
    </select>

    <select id="ProductList"  parameterType="SearchCondition" resultType="Product">
        SELECT  P.pdt_id, TG.tag_name, P.title, P.sub_title,
                P.ds_rate, P.price,P.sel_price,P.sales_rate,
                P.de_type,P.company,P.stock,C.cat_code,C.cd_name
        FROM PRODUCT_TB P
                 JOIN PRODUCT_TAG_TB T
                      ON T.pdt_id = P.pdt_id
                 JOIN TAG_TB TG
                      ON TG.tag_id = T.tag_id
                 JOIN CATEGORY_TB C
                      ON C.pdt_id = P.pdt_id
        WHERE TRUE
        <include refid="searchCondition"/>
        ORDER BY  P.pdt_id ASC
        limit #{offset}, #{pageSize}
    </select>


    <select id="ProductListDESC" parameterType="map" resultType="Product">
        SELECT  P.pdt_id, TG.tag_name, P.title, P.sub_title,
        P.ds_rate, P.price,P.image,P.sel_price,P.sales_rate,
        P.de_type,P.company,P.stock,C.cat_code,C.cd_name,P.in_date
        FROM PRODUCT_TB P
        JOIN PRODUCT_TAG_TB T
        ON T.pdt_id = P.pdt_id
        JOIN TAG_TB TG
        ON TG.tag_id = T.tag_id
        JOIN CATEGORY_TB C
        ON C.pdt_id = P.pdt_id
        WHERE TRUE
        <include refid="searchCondition"/>
        ORDER BY ${order_sc} DESC
        limit #{offset}, #{pageSize}
    </select>

    <select id="ProductBestList" parameterType="SearchCondition" resultType="Product">
        SELECT  P.pdt_id, TG.tag_name, P.title, P.sub_title,
        P.ds_rate, P.price,P.sel_price,P.sales_rate,
        P.de_type,P.company,P.stock,C.cat_code,C.cd_name
        FROM PRODUCT_TB P
        JOIN PRODUCT_TAG_TB T
        ON T.pdt_id = P.pdt_id
        JOIN TAG_TB TG
        ON TG.tag_id = T.tag_id
        JOIN CATEGORY_TB C
        ON C.pdt_id = P.pdt_id
        WHERE TRUE
        <include refid="searchCondition"/>
        ORDER BY  P.sel_price ASC
        limit #{offset}, #{pageSize}
    </select>

    <sql id="selectFromProduct">
        select pdt_id,
               price,
               ds_rate,
               sel_price,
               title,
               sub_title,
               rec_info,
               adt_sts,
               stock,
               in_date,
               in_user,
               up_date,
               up_user
            FROM PRODUCT_TB
    </sql>


    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="C"'>
                AND company LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title   LIKE concat('%', #{keyword}, '%')
                OR   company LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>


    <update id="update" parameterType="Product">
        UPDATE PRODUCT_TB
        SET   price = #{price},
              ds_rate = #{ds_rate},
              sel_price =#{sel_price},
              title = #{title},
              sub_title = #{sub_title},
              up_date = now()
        WHERE pdt_id = #{pdt_id}
        ORDER BY title DESC
    </update>


    <select id="selectProductId" resultType="Product">
        select pdt_id
        from PRODUCT_TB
    </select>


    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM PRODUCT_TB P
        JOIN PRODUCT_TAG_TB T
        ON T.pdt_id = P.pdt_id
        JOIN TAG_TB TG
        ON TG.tag_id = T.tag_id
        JOIN CATEGORY_TB C
        ON C.pdt_id = P.pdt_id
        WHERE TRUE
        <include refid="searchCondition"/>
    </select>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="Product">
        SELECT  P.pdt_id, TG.tag_name, P.title, P.sub_title,
        P.ds_rate, P.price,P.image,P.sel_price,P.sales_rate,
        P.de_type,P.company,P.stock,C.cat_code,C.cd_name,P.in_date
        FROM PRODUCT_TB P
        JOIN PRODUCT_TAG_TB T
        ON T.pdt_id = P.pdt_id
        JOIN TAG_TB TG
        ON TG.tag_id = T.tag_id
        JOIN CATEGORY_TB C
        ON C.pdt_id = P.pdt_id
        WHERE TRUE
        <include refid="searchCondition"/>
        limit #{offset}, #{pageSize}
    </select>

    <select id="EventList" parameterType="map" resultType="Product">
        select TG.tag_name, P.title, P.sub_title,
               P.ds_rate, P.price,P.image,P.sel_price,
               P.de_type,P.company,C.cat_code,C.cd_name
        from PRODUCT_TB  P join CATEGORY_TB  C
                           JOIN PRODUCT_TAG_TB T
                                ON T.pdt_id = P.pdt_id
                           JOIN TAG_TB TG
                                ON TG.tag_id = T.tag_id
          AND C.pdt_id = P.pdt_id
        where C.cat_code = cat_code
    </select>
</mapper>
