<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkurly.admin.dao.UserMapper">
    <select id="select" parameterType="int" resultType="UserDto">
        select
            user_id,
            user_nm,
            user_email,
            subs_dt,
            gender,
            bryr,
            pwd,
            telno,
            rcmdr_email
        from USER_TB
        where user_id = #{user_id}
    </select>
    <select id="count" resultType="int">
        SELECT count(*) FROM USER_TB
    </select>

    <delete id="deleteAll">
        DELETE FROM USER_TB
    </delete>

    <delete id="deleteForAdmin">
        DELETE FROM USER_TB WHERE user_id = #{user_id}
    </delete>
    <delete id="delete" parameterType="int">
        DELETE FROM USER_TB WHERE user_id = #{user_id}
    </delete>

    <!--회원등록-->
    <insert id="insert" parameterType="UserDto">
        INSERT INTO USER_TB
            (user_email,pwd,user_nm,telno,subs_dt,gender,bryr,rcmdr_email)
        VALUES
            (#{user_email},#{pwd},#{user_nm},#{telno},#{subs_dt},#{gender},#{bryr},#{rcmdr_email})
    </insert>

    <select id="selectAll" resultType="UserDto">
        SELECT user_id,
               user_nm,
               user_email,
               pwd,
               telno,
               subs_dt,
               gender,
               bryr,
               rcmdr_email
        FROM USER_TB
        ORDER BY subs_dt DESC, user_id DESC
    </select>


    <sql id="selectFromUser">
        SELECT user_id,
               user_nm,
               user_email,
               pwd,
               telno,
               subs_dt,
               gender,
               bryr,
               rcmdr_email
        FROM USER_TB
    </sql>

    <select id="selectPage" parameterType="map" resultType="UserDto">
        SELECT user_id,
               user_nm,
               user_email,
               pwd,
               telno,
               subs_dt,
               gender,
               bryr,
               rcmdr_email
        FROM USER_TB
        ORDER BY subs_dt DESC, user_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <update id="update" parameterType="UserDto">
        UPDATE USER_TB
        SET pwd = #{pwd},
            user_nm = #{user_nm},
            user_email = #{user_email},
            telno = #{telno},
            subs_dt = #{subs_dt},
            gender = #{gender},
            bryr = #{bryr},
            rcmdr_email = #{rcmdr_email}
        WHERE user_id = #{user_id}
    </update>


    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title LIKE concat('%', #{keyword}, '%')
                OR content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="UserDto">
        SELECT  user_id,
                user_nm,
                user_email,
                pwd,
                telno,
                subs_dt,
                gender,
                bryr,
                rcmdr_email
        FROM USER_TB
        where true
        <include refid="searchCondition"/>
        ORDER BY subs_dt DESC, user_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM USER_TB
        where true
        <include refid="searchCondition"/>
    </select>

</mapper>